<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <h1>TASKS</h1>

  <% tasks.forEach(task=>{ %>
    <ul>
      <%= task.status %>
      <li><%= task.content %></li>
      <form action="/tasks/finish-task" method="POST">
        <input type="hidden" name="taskId" value="<%= task._id %>">
        <button type="sumbit">Finish Task</button>
      </form>
      <form action="/tasks/delete-task" method="POST">
        <input type="hidden" name="taskId" value="<%= task._id %>">
        <button type="sumbit">Remove task</button>
      </form>
    </ul>
  <% }) %>
  <form action="/tasks/add-task" method="POST">
    <label for="content">Tasks:</label>
    <input type="content" name="content" id="content">

    <button type="submit">Add Task</button>
  </form>
<%- include('../includes/end.ejs') %>